# Writng Your First Python Code
## Objective 
After completing this lab I will able to:

    * Write basic code in python.
    
    * Work with various types of data in Python
    
    * Convert the data from one type to another
    
    * Use expression and variables to perform oprations

# Say "Hello" to the world in Python
When learning a new programming language, it is customary to start with an "hello world" example. As simple as it is, this one line of code will ensure that we know how to print a string in output and how to execute code within cells in a notebook.

[Tip]: To execute the Python code in the code cell below, click on the cell to select it and press Shift + Enter.

In [4]:
print ('Hello, Python!')

Hello, Python!

[Tip:] print() is a function. You passed the string 'Hello, Python!' as an argument to instruct Python on what to print.

In [5]:
# check the Python Version
 
import sys
print(sys.version)

3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]

[Tip:] sys is a built-in module that contains many system-specific parameters and functions, including the Python version in use. Before using it, we must explictly import it.

# Writing comments in Python
In addition to writing code, note that it's always a good idea to add comments to your code. It will help others understand what you were trying to accomplish (the reason why you wrote a given snippet of code). Not only does this help other people understand your code, it can also serve as a reminder to you when you come back to it weeks or months later.

To write comments in Python, use the number symbol # before writing your comment. When you run your code, Python will ignore everything past the # on a given line.

# Does Python know about your error before it runs your code?
Python is what is called an interpreted language. Compiled languages examine your entire program at compile time, and are able to warn you about a whole class of errors prior to execution. In contrast, Python interprets your script line by line as it executes it. Python will stop executing the entire program when it encounters an error (unless the error is expected and handled by the programmer, a more advanced subject that we'll cover later on in this course).

Try to run the code in the cell below and see what happens:

In [6]:
# Print string and error to see the running order

print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

This will be printed

NameError: name 'frint' is not defined

In [7]:
# Print string and error to see the running order

print("This will be printed")
print("This will cause an error")
print("This will NOT be printed")

This will be printed
This will cause an error
This will NOT be printed

In [9]:
# Excersice 1
print ('Hello, World!') # Print the traditional hello world

Hello, World!

## Types of objects in Python
Python is an object-oriented language.
There are many different types of objects in Python. 
Let's start with the most common object types: strings, integers and floats.
Anytime you write words (text) in Python, you're using character strings (strings for short). 
The most common numbers, on the other hand, are integers (e.g. -1, 0, 100) and 
floats, which represent real numbers (e.g. 3.14, -42.0).

In [10]:
# The following code cells contain some examples.
# Integer
18

18

In [11]:
# Float 
3.14

3.14

In [12]:
# String
"Hello, Python!"

'Hello, Python!'

You can get Python to tell you the type of an expression by using the built-in type() function. You'll notice that Python refers to integers as int, floats as float, and character strings as str.

In [13]:
# Type of 15
type(15)

int

In [14]:
# Type of 3.14
type(3.14)

float

In [15]:
# Type of "Hello, Python!"
type("Hello, Python!")

str

In [16]:
# Check the object type of 12.0
type(12.0)

float

# Intergers

In [17]:
# Integers can be negative or positive numbers like (-4, -3, -2, -1,0,1,2,3,4)
# print the type of -1, 4, 0
type(-1)
type(4)
type(0)

int

# Floats 
Floats represent real numbers; they are a superset of integer numbers but also include "numbers with decimals". There are some limitations when it comes to machines representing real numbers, but floating point numbers are a good representation in most cases. You can learn more about the specifics of floats for your runtime environment, by checking the value of sys.float_info. This will also tell you what's the largest and smallest number that can be represented with them.

Once again, can test some examples with the type() function:

In [20]:
# Print the type of 1.0, 0.5, 0.57
type(1.0)
type(0.5)
type(0.57)

float

In [21]:
# System setting about float type
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

### Converting from one object type to a different object type
You can change the type of the object in Python; this is called typecasting. For example, you can convert an integer into a float (e.g. 2 to 2.0).

Let's try it:

In [24]:
# Convert 2 to a float

float(2)

2.0

In [25]:
# Convert integer 2 to a float and check its type

type(float(2))

float

When we convert an integer into a float, we don't really change the value (i.e., the significand) of the number. However, if we cast a float into an integer, we could potentially lose some information. For example, if we cast the float 1.1 to integer we will get 1 and lose the decimal information (i.e., 0.1):

In [26]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

1

### Converting from strings to integers or floats
Sometimes, we can have a string that contains a number within it. If this is the case, we can cast that string that represents a number into an integer using int():

In [27]:
# Convert a string into an integer

int('1')

1

In [29]:
# But if you try to do so with a string that is not a perfect match for a number, you'll get an error. Try the following:

# Convert a string into an integer with error

int('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

In [30]:
# You can also convert strings containing floating point numbers into float objects:
# Convert the string "1.2" into a float

float('1.2')

1.2

[Tip:] Note that strings can be represented with single quotes ('1.2') or double quotes ("1.2"), but you can't mix both (e.g., "1.2').

#### Converting numbers to strings
If we can convert strings to numbers, it is only natural to assume that we can convert numbers to strings, right?

In [31]:
# Convert an integer to a string

str(1)

'1'

In [32]:
# Convert a float to a string

str(1.2)

'1.2'

### Boolean data type
Boolean is another important type in Python. An object of type Boolean can take on one of two values: True or False:

In [34]:
# Value true

True

True

Notice that the value True has an uppercase "T". The same is true for False (i.e. you must use the uppercase "F").

In [35]:
# Value false

False

False

When you ask Python to display the type of a boolean object it will show bool which stands for boolean:

In [36]:
# Type of True

type(True)

bool

In [37]:
# Type of False

type(False)

bool

We can cast boolean objects to other data types. If we cast a boolean with a value of True to an integer or float we will get a one. If we cast a boolean with a value of False to an integer or float we will get a zero. Similarly, if we cast a 1 to a Boolean, you get a True. And if we cast a 0 to a Boolean we will get a False. Let's give it a try:

In [38]:
# Convert True to int

int(True)

1

In [39]:
# Convert 1 to boolean

bool(1)

True

In [40]:
# Convert 0 to boolean

bool(0)

False

In [41]:
# Convert True to float

float(True)

1.0

In [42]:
# Excercise 2:
# Wrtie the data type of the result of 8/2?
type(8/2) # float

float

In [43]:
# What is the type of the result of: 6 // 2? (Note the double slash //.)
type(8//2) # int, as the doculbe slashes stand for integer division.

int

# Expression and Variables
### Expressions
Expressions in Python can include operations among compatible types (e.g., integers and floats). For example, basic arithmetic operations like adding multiple numbers:

In [44]:
# Addition operation expression

43 + 60 + 16 + 41

160

In [47]:
# We can perform subtraction operations using the minus operator. In this case the result is a negative number

# Subtraction operation expression

50 - 60

-10

In [48]:
# Multiplication operation expression
# We can do multiplication using an asterisk:
5 * 5

25

In [51]:
# We can also perform division with the forward slash:

# Division operation expression

25 / 5

5.0

In [52]:
# Division operation expression

25 / 6

4.166666666666667

In [55]:
# Use the double slash for integer division, where the result is rounded down to the nearest integer:
# Integer division operation expression
25 // 5

5

In [54]:
# Integer division operation expression

25 // 6

4

In [56]:
# Excercise 3:
# Q. Let's write an expression that calculates how many hours there are in 160 minutes:
160/60

2.6666666666666665

In [57]:
160//60

2

In [58]:
# Mathematical expression

30 + 2 * 60

150

In [59]:
# Mathematical expression

(30 + 2) * 60

1920

## Variables

<p>Just like with most programming languages, we can store values in <i>variables</i>, so we can use them later on. For example:</p>

In [62]:
# Store value into variable

x = 43 + 60 + 16 + 41

In [63]:
# Print out the value in variable

x

160

In [64]:
print(x)

160

In [65]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

2.6666666666666665

In [66]:
# Overwrite variable with new value

x = x / 60
x

2.6666666666666665

In [67]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [68]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours 
total_hours

2.3666666666666667

<p>In the cells above we added the length of three albums in minutes and stored it in <code>total_min</code>. We then divided it by 60 to calculate total length <code>total_hours</code> in hours. You can also do it all at once in a single expression, as long as you use parenthesis to add the albums length before you divide, as shown below.</p>

In [69]:
# Complicate expression

total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

2.3666666666666667

If you'd rather have total hours as an integer, you can of course replace the floating point division with integer division (i.e., //).

In [70]:
# Excercise 4: Expression and Variables in Python
# Q. What is the value of x where x = 3 + 2 * 2
x= 3+2*2
x

7

In [72]:
# Q. What is the value of y where y = (3 + 2) * 2?
y= (3+2)*2
y

10

In [74]:
# Q. What is the value of z where z = x + y?
z= x+y
z

17